.side-bar{
    background-color: white;
    
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 88px;
    z-index: 100;
}

.side-box{
    background-color: white;
    height: 70px;
    margin-bottom: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.side-box:hover{
    background-color: lightgray;
}
.side-box img{
    height: 34px;
    margin-bottom: 3px;
  
}
.box-text{
  
    font-size: 10px;
    font-family: Arial;
    /* display: inline-block; */

}